{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sages{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <h2>SAGES</h2>
            </div>
            <ul class="nav-links">
                <li><a href="">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'enquiry' %}">Request a Quote</a></li>
                <li><a href="#solutions">Solutions</a></li>
                <li><a href="#clients">Clients</a></li>
                
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 LPG Pipeline Solutions | All Rights Reserved</p>
        <ul>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms of Service</a></li>
        </ul>
    </footer>
</body>
</html>
